* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 30px;
}
.tareaTachada {
    text-decoration: line-through;
}

.dnone {
    display: none;
}
